header{
  color: white;
  text-align: center;
  font: normal 20pt Impact, fantasy;
  width: 100%;
  position:fixed;
  top: 0px;  
}
footer{
  color: white;
  text-align: center;
  font: normal 15pt Impact, sans-serif;
  width: 100%;
  position:fixed;
  bottom: 0px;                 
}
#msg{
  color: white;
  text-align:center;
  font: normal 80pt AriaImpact, fantasy, Black;
  width: 100%;
  position:fixed;
  top: 25%;  
}